a{text-decoration: none;}

.left_side_menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  display: none;
}

.side{
  width: 200px;
  margin: 20px;
}

.left_side_menu label.toggleMenu {
  background: rgb(246,248,249); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(213,210,216,1) 3%, rgba(229,235,238,1) 3%, rgba(215,222,227,1) 97%, rgba(174,175,175,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(213,210,216,1) 3%,rgba(229,235,238,1) 3%,rgba(215,222,227,1) 97%,rgba(174,175,175,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(213,210,216,1) 3%,rgba(229,235,238,1) 3%,rgba(215,222,227,1) 97%,rgba(174,175,175,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#aeafaf',GradientType=0 ); /* IE6-9 */
  display: block;
  text-transform: uppercase;
  padding: 15px 40px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.left_side_menu label.toggleMenu .fa{
  position: absolute;
  top: 15px;
  left: 12px;
  font-size: 18px;
}

.left_side_menu a{
  background: #3d3d3d;
  display: block;
  color: #fffFFF;
  padding: 10px;
}

.left_side_menu input.toggleMenu:checked + label.toggleMenu{
  background: #000800;
  color: #fff
}

.left_side_menu input.toggleMenu:checked ~ ul{
  display: block;
  box-sizing: border-box;
}

.left_side_menu ul li{
  display: block;
  position: relative;
}

/**drop menu*/

.left_side_menu .toggleDropMenu {
  position: absolute;
  width: 10%;
  right: 0%;
  height: 100%;
  display: block;
  background: #3d3d3d;
  top:0;
  box-sizing: border-box;
}

.left_side_menu .toggleDropMenu:after{
  content: " ";
  position: absolute;
  border: 5px solid;
  border-color: transparent transparent transparent #eee;
  top: 1em;
  right: 0.25em;
  -webkit-transition: 0.5s;
  transition: 2s;
}

.left_side_menu .toggleDropMenu:hover:after{
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.left_side_menu ul.menu__drop{
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 200px;
  left: 100%;
  top:-9999em;
  opacity: 1;
  transition: 1s opacity;
  border-left: 10px solid transparent;
}

.left_side_menu .toggleDropMenu:hover .menu__drop{
  opacity: 1;
  top: 0;
}


.test{
  height: 100%;
}

.left_side_menu .toggleSubMenu {
  position: absolute;
  width: 10%;
  right: 10%;
  height: 100%;
  background: #3d3d3d;
  box-sizing: border-box;
  top:0;
  border-left: 1px solid #3d3d3d;
  border-right: 1px solid #3d3d3d;
}

.left_side_menu .toggleSubMenu:after {
  content: " ";
  position: absolute;
  border: 5px solid;
  border-color: #eee transparent transparent transparent;
  top: 1.5em;
  right: 0.25em;
  -webkit-transition: 0.5s;
  transition: 2s;
}

.left_side_menu input.toggleSubMenu:checked ~ .toggleSubMenu:after {
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
}

.left_side_menu input.toggleSubMenu:checked ~ ul{
  box-sizing: border-box;
  border-top: 2px solid red;
  border-bottom: 2px solid green;
  display: block;
}

.left_side_menu input.toggleSubMenu:checked::after{
  content: " ";
  position: absolute;
  border: 5px solid;
  top: 1.5em;
  right: 0.25em;
  -webkit-transition: 0.5s;
  transition: 2s;
  border-color: #eee transparent transparent transparent;
}

.left_side_menu [type="checkbox"]{
  display: none;
}

.left_side_menu a:hover{
  /* padding: 10px 0 10px 20px;*/
}

.left_side_menu a:hover,
.left_side_menu a:hover ~ .toggleSubMenu,
.left_side_menu a:hover ~ .toggleDropMenu,
.left_side_menu .toggleSubMenu:hover,
.left_side_menu .toggleDropMenu:hover{
  background: #666;
  -webkit-transition: 1.1s;
}

.left_side_menu a:hover ~ .toggleSubMenu,
.left_side_menu .toggleDropMenu:hover ~ .toggleSubMenu,
.left_side_menu .toggleSubMenu:hover{
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.left_side_menu ul > li{
  margin-top: 3px;
}

.left_side_menu ul ul > li{
  margin-top: 0px;
}

.left_side_menu .line{
  height: 100%;
  position: relative;
}
